.button {
  background-color: var(--color-mayan-green);
  color: var(--color-mayan-beige);
  border: none;
  border-radius: 4px;
  height: 2rem;
  font-size: 1rem;
  align-self: center;
  width: 14rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}