.main {
  text-align: center;
  min-height: calc(100dvh - 5.5rem);
  border: solid 4px var(--color-mayan-blue);
  outline: solid 3px var(--color-mayan-red);
  outline-offset: 3px;
  margin: 1rem;
  padding: 1.5rem;
}

.title {
  color: var(--color-mayan-blue);
}

.info {
  color: var(--color-mayan-brown);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem
}

