.resultPage {
  display: flex;
  flex-direction: column;
}

.shareResult {
  background-color: var(--color-mayan-beige);
  padding: 1.5rem;
}

.intro {
  color: var(--color-mayan-green);
  margin-bottom: 0;
}

.gregorianDate {
  font-family: 'CivilisationMaya', sans-serif;
  color: var(--color-mayan-green);
  margin-top: 0;
}

.leadIn {
  color: var(--color-mayan-blue);
  margin-bottom: 0;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.glyphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.twoButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
