.dateInput {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  font-weight: bold;
  font-size: var(--font-size-medium);
  color: var(--color-mayan-blue);
}

.input {
  margin: 0.25rem 0 1rem;
  height: 2.5rem;
  font-size: var(--font-size-small);
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 0 1rem;
  color: var(--color-mayan-red);
  background-color: var(--color-mayan-beige);
  border: 2px solid var(--color-mayan-red);
  font-family: inherit;
  font-weight: bold;
  width: max-content;
  align-self: center;
}