.dateInput {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  color: var(--color-mayan-blue);
  font-size: var(--font-size-small);
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.input {
  align-self: center;
  width: max-content;
  min-width: 8rem;
  min-height: 2rem;
  max-height: 2.44rem;
  color: var(--color-mayan-red);
  font-family: inherit;
  font-size: var(--font-size-small);
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: 2px solid var(--color-mayan-red);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .input {
    padding: 0.35rem;
  }
}
