.button {
  background-color: var(--color-mayan-blue);
  color: var(--color-mayan-beige);
  border: none;
  border-radius: 4px;
  font-size: var(--font-size-small);
  align-self: center;
  width: fit-content;
  padding: 0.5rem;
  height: fit-content;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
}
