@font-face {
  font-family: 'CivilisationMaya';
  src: url('/fonts/CivilisationMayaRegular.ttf') format('truetype');
  unicode-range: U+0030-0039, U+0041-005A;
}

:root {
  /* Colour Palette */
  --color-mayan-red: #ba0003;
  --color-mayan-blue: #1e3b8a;
  --color-mayan-green: #045945;
  --color-mayan-brown: #634e30;
  --color-mayan-beige: #f5f5dc;
  --color-black: #000;

  /* Font Sizes */
  --font-size-extra-large: 2.75rem;
  --font-size-large: 2rem;
  --font-size-medium: 1.75rem;
  --font-size-small: 1.35rem;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--color-mayan-beige);
}

h1 {
  font-family: 'CivilisationMaya', sans-serif;
  font-size: var(--font-size-extra-large);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: var(--font-size-large);
}

p {
  font-size: var(--font-size-small);
  margin: 0;
  line-height: 1.45rem;
}

@media screen and (min-width: 768px) {
  :root {  
    /* Font Sizes */
    --font-size-extra-large: 3.25rem;
    --font-size-large: 2.25rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.75rem;
  }
}

@media screen and (max-height: 790px) and (max-width: 400px) {
  :root {  
    /* Font Sizes */
    --font-size-extra-large: 2rem;
    --font-size-large: 1.75rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1.25rem;
  }

  p {
    line-height: 1rem;
  }
}