.main {
  display: flex;
  flex-direction: column;
  height: 85dvh;
  align-items: center;
  padding: 10dvh 2rem 0;
  text-align: center;
  border: solid 4px var(--color-mayan-blue);
  margin: 1rem;
  outline: solid 3px var(--color-mayan-red);
  outline-offset: 3px;
}

.title {
  color: var(--color-mayan-red);
}

.info {
  color: var(--color-mayan-brown);
}

.calendarContainer {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: auto;
  width: 100dvw;
}

.calendarImg {
  width: 100%;
  height: auto;
  margin-bottom: -50%;
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .calendarContainer {
    width: 30rem;
  }
}
