.mainResult {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.mainInput {
  height: calc(100dvh - 1.25rem);
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  overflow: hidden;
  gap: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1.5rem 0;
}

.calendarContainer {
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
}

.mainResult, .border {
  border: solid 4px var(--color-mayan-blue);
  outline: solid 3px var(--color-mayan-red);
  outline-offset: 3px;
  height: calc(100dvh - 2.5rem);
  margin: 1rem;
}

.title {
  color: var(--color-mayan-red);
}

.info {
  color: var(--color-mayan-brown);
  margin-bottom: 1rem;
}

.calendarNames {
  font-weight: bold;
}

.disclaimer {
  font-size: 0.5rem;
  margin-top: 0.5rem;
}

.imageContainer {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
}

.calendarImg {
  width: 100%;
  height: auto;
  margin-bottom: -50%;
  animation: spin 10s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .imageContainer {
    width: 40rem;
  }
}

@media screen and (min-width: 1024px) {
  .imageContainer {
    width: 30rem;
  }
}
