.glyph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 10rem;
  height: 10rem;
  border: solid 2px red;
}

.glyphIntro {
  min-height: 2.375rem;
  color: var(--color-mayan-brown);
}

.glyphInfo {
  color: var(--color-mayan-brown);
}

.glyphDefinition {
  margin-bottom: 0;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .glyphIntro {
    min-height: unset;
  }
}
