.glyph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glyph img {
  width: 7rem;
  height: 7rem;
}

.glyphInfo {
  color: var(--color-mayan-brown);
}

.glyphDefinition {
  margin: 1rem 0 0.5rem;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .glyphIntro {
    min-height: unset;
  }
}

@media screen and (max-height: 790px) {
  .glyphIntro {
    min-height: 1.75rem;
  }
}
